<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='/js/checkboxes.js') }}"></script>
</head>
<body>
  <header>
    <h1>Welcome to My Website</h1>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section>
      <h2>Who We Are</h2>
      <p>{{ content1 }}</p>
    </section>

    <section>
      <h2>What We Do</h2>
      <p>{{ content2 }}</p>
    </section>

    <section>
      <h2>Our Services</h2>
      <ul class="scrollable narrow">
        {% for service in services %}
        <li>{{ service }}</li>
        {% endfor %}
      </ul>
    </section>


    <section>
        <div class="tab">
          <button class="tablinks active" onclick="openTab(event, 'tab1')">Channels</button>
          <button class="tablinks" onclick="openTab(event, 'tab2')">Tab 2</button>
          <button class="tablinks" onclick="openTab(event, 'tab3')">Tab 3</button>
        </div>
        
        <div id="tab1" class="tabcontent", style="display:block;">
          <h3>available channels</h3>
          <section>
            <ul id="checklist" style="list-style-type:none;">
              {% for channel in channels %}
              <li>
                <input type="checkbox" name="{{ channel }}" value="{{ channel }}">
                <a href="http://www.google.com" target="_blank">{{ channel }}</a>
                
              </li>
              {% endfor %}
            </ul>
          </section>
          <script src="{{ url_for('static', filename='js/checklist.js') }}"></script>

          

        </div>
      
        <div id="tab2" class="tabcontent">
          <h3>Tab 2 Content</h3>
          <p>This is the content for Tab 2.</p>
        </div>
      
        <div id="tab3" class="tabcontent">
          <h3>Tab 3 Content </h3>
          <p> {{ tab3_string }}  </p>
        </div>
      </section>
      
      <script>
        
      function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
      }
      </script>

<!-- index.html -->
  


  </script>  
  </main>

  <footer>
    <p>{{ footer_text }}</p>
  </footer>

</body>
</html>
